doctype html

div(layout='column', ng-cloak)
  //- container #1
  md-toolbar.md-toolbar-tools(layout='row')
    md-button.md-icon-button(hide-gt-sm, ng-click='vm.toggleList()')
      md-icon menu
    h1 Angular Material -- Starter App

  //- container #2
  div(layout='row', flex)

    //- container #3
    md-sidenav.md-whiterframe-4dp(
      md-is-locked-open='$mdMedia("gt-sm")'
      md-component-id='left'
    )
      md-list
        md-list-item(ng-repeat='user in vm.users')
          md-button(
            ng-click='vm.selectUser(user)'
            ng-class='{"selected": user === vm.selected}'
          )
            md-icon.avatar(md-svg-icon='{{user.avatar}}')
            | {{user.name}}

    //- container #4
    md-content#content(flex)
      md-icon.avatar(md-svg-icon='{{vm.selected.avatar}}')
      h2 {{vm.selected.name}}
      | {{vm.selected.content}}

      md-button.md-fab.md-fab-bottom-right(ng-click='vm.share($event)')
        md-icon share

